<!DOCTYPE html>
<html>
<head>
    <title>HI</title>
</head>
<body>
Shorty's URL
    <form action="/create" method="post">
        <input type="text" name="prefix" placeholder="long-url">
        <input type="submit">
    </form>

</body>
</html>
