<% include ../header %>

TL;DR
// create a short link to any quote on the Internet //
    <form action="/create" method="post">
        <input type="text" name="prefix" placeholder="long-url">
        <input type="submit">
    </form>

</body>
</html>
