<% include ../header %>

<h1>TL;DR</h1>
<p>Shorten your link that's too long.</p>
    <form action="/create" method="post">
        <input type="text" name="prefix" placeholder="long-url">
        <input type="submit">
    </form>

</body>
</html>

