<% include ../header %>
<div class="container">
<div class="jumbotron">
    <h1>TL;DR</h1>
    <p>Shorten your link that's too long.</p>
    <form action="/create" method="post">
        <input type="text" name="prefix" placeholder="www.beedogs.com">
        <input type="submit">
    </form>
</div>


</div>
</body>
</html>

